 # Aliases
alias prettyjson='python -m json.tool'
alias adb-list='adb shell pm list packages -3'
alias brewup='brew update; brew upgrade; brew cleanup; brew doctor'
alias speedtest='curl -o /dev/null http://speedtest.wdc01.softlayer.com/downloads/test10.zip'
alias reload='source ~/.zshrc'
alias placonaup='docker-compose up nginx-proxy placona jekyll'
alias cat="bat" # colored cat command
alias p="cd ~/Projects/"
alias d="cd ~/Downloads/"
alias ls="ls -lSrhat"
alias ip="echo Your ip is; dig +short myip.opendns.com @resolver1.opendns.com;"
alias du="du -sh * | sort -h"

# directory short cuts
alias p='cd ~/Projects/'
alias d='cd ~/Downloads/'
